
visualCS/cSharpProject/.vs/cSharpProject/v15/sqlite3/storage.ide
visualCS/cSharpProject/cSharpProject/bin/Debug/cSharpProject.exe
visualCS/cSharpProject/cSharpProject/bin/Debug/cSharpProject.pdb
visualCS/cSharpProject/cSharpProject/obj/Debug/cSharpProject.csproj.CoreCompileInputs.cache
visualCS/cSharpProject/cSharpProject/obj/Debug/cSharpProject.csproj.FileListAbsolute.txt
visualCS/cSharpProject/cSharpProject/obj/Debug/cSharpProject.pdb
visualCS/cSharpProject/cSharpProject/obj/Debug/cSharpProject.pdb
visualCS/cSharpProject/.vs/cSharpProject/v15/sqlite3/storage.ide
